*.lo
*.o
config.guess
config.sub
autom4te.cache
Makefile.in
.dirstamp
.libs/
Makefile
src/net/URL.c
aclocal.m4
config.log
config.status
config/ltmain.sh
configure
libtool
m4/
src/stamp-h1
src/xconfig.h
src/xconfig.h.in
tools/bin/
libzdb.la
test/.libs/
test/exception
test/pool
test/select
test/unit
zdb.pc
zdb/


